<p id="notice"><%= notice %></p>
<% if current_user_subscribed? %>
<% @movies.each do |movie| %>
      <div class="panel panel-default col-md-4">
         <div class="panel-heading">
            <h3 class="panel-title">
              <%= link_to truncate(movie.title, :length => 30), movie %></h3>
          
              </div>
                <div class="panel-body">
              <%= link_to image_tag(movie.image_url), movie %>
            </div>
          <div class="panel-footer">Selected by: <%= movie.user.username %></div>
      </div>
<% end %>

<% else %>

<h3 class="text-center">Sorry <%= current_user.username %> you need a Rotten Plan 
to check out Movies</h3>
  <%= render 'subscription' %>

<% end %>
